.grid {
    display:  grid;
    grid-template-columns: 1fr;
    grid-template:
    "header header" 1fr
    "nav content" 2fr

}



a {
    text-decoration: none;
    color: white;
}

body {
    background-image: url(background.JPEG);
    margin: 0;
}

.nav {
    list-style: none;
    background-color: rgba(140, 141, 147, 0.5);
    grid-area: nav;

}

.content {
    background-color: white;
    grid-area: content;
}

.nav li:hover {
    background-color: rgba(140, 141, 147, 0.5);
    border-radius: 4px;
  }
